#section-header a.button {
    margin-top: 20px;
    display: block;
}

c-card {
    min-height: 200px;
    max-width: 35rem;
    width: 100%;
}

#text-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

#text-form h3 {
    margin: 0;
    font-size: xx-large;
}

form {
    padding-left: 40px;
    padding-right: 40px;
}

form section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: stretch;
}

form label {
    width: 55px;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 5px;
    width: auto;
}

form input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

form span {
    margin-top: 15px;
}

form button {
    margin-top: 30px;
    min-width: 30%;
}
