#section-header a.button {
    margin-top: 20px;
    display: block;
}

c-card {
    min-height: 200px;
    max-width: 30rem;
    width: 100%;
}

#text-form {
    margin-top: 20px;
    margin-bottom: 30px;
}

#text-form h3 {
    margin: 0;
    font-size: xx-large;
}

form section {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    margin: 10px auto;
    display: block;
    width: 85%;
    text-align: left;
}

form input {
    margin: 10px auto;
    display: block;
    width: 85%;
}

form section span {
    margin-top: 10px;
    text-decoration: dotted;
}

form button {
    min-width: 30%;
}
