template {
    display: none;
}

section#category-section {
    margin-top: 0px;
    padding-top: 10px;

    & h2,
    & ul,
    & li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & h2 {
        margin-top: 4px;
        margin-bottom: 10px;
        padding-left: 5px;
    }

    & ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: repeat(2, auto);
        gap: 15px;
        overflow: hidden;
        max-height: calc(2 * 65px);
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 30px;
        padding-top: 0px;

        & c-card {
            display: grid;
            grid-template-columns: repeat(2, 0fr);
            box-shadow: none;

            &:hover {
                transform: scale(1.05);
            }

            & div.image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-left: 5px;
                margin-right: 5px;

                & img {
                    width: 40px;
                    height: 40px;
                }
            }

            & div.text {
                margin-left: 10px;

                & p.title {
                    margin-top: 10px;
                    margin-bottom: 0px;
                }

                & p.size {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

section#files-section {
    margin-top: 0px;
    padding-top: 10px;

    & h2,
    & ul,
    & li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & h2 {
        margin-top: 4px;
        margin-bottom: 10px;
        padding-left: 5px;
    }

    & ul.files-tables {
        display: grid;
        gap: 1px;
        padding: 0px;

        & c-card {
            display: grid;
            grid-template-columns: 50px 1fr 160px 50px;
            align-items: center;

            & .image,
            & .name,
            & .modified,
            & .size {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &:hover {
                background-color: var(--color-primary);
                color: var(--color-text-secondary);
            }

            & div.image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-left: 5px;
                margin-right: 5px;

                & img {
                    width: 30px;
                    height: 30px;
                }
            }

            & p {
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: left;
            }

            & .modified p,
            & .size p {
                margin-right: 10px;
                text-align: right;
            }
        }
    }
}

@media (max-width: 600px) {
    section#files-section {
        & ul.files-tables {
            & c-card {
                grid-template-columns: 50px 1fr 160px;

                & .size {
                    display: none;
                }
            }
        }


    }
}

@media (max-width: 450px) {
    section#files-section {
        & ul.files-tables {
            & c-card {
                grid-template-columns: 50px 1fr;

                & .modified {
                    display: none;
                }
            }
        }
    }
}

section#files-section {
    & ul.files-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(2, auto);
        gap: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 30px;
        padding-top: 0px;

        & c-card {
            display: grid;

            &:hover {
                transform: scale(1.05);
            }

            & div.image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-left: 5px;
                margin-right: 5px;
                padding-top: 10px;

                & img {
                    width: 80px;
                    height: 80px;
                }
            }

            & .name {
                padding-left: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            & .created,
            & .modified,
            & .size {
                display: none;
                margin-right: 10px;
                text-align: right;
            }
        }
    }
}
